<div class="body">

  <div *ngIf="instructions && !examples" class="container d-flex align-items-center justify-content-center min-vh-100">
    <div class="row">
      <div class="col" align="justify">
        <div class="card p-2" style="width: 100%;">
          <div class="card-body">
            <h5 class="card-title strong d-flex justify-content-center">Instruções</h5>
            <p class="card-text">Leia atentamente os itens, escolha a opção de resposta que melhor complete a comparação ou a analogia entre as palavras propostas.<br><br>Esta atividade tem tempo marcado para ser realizada. <br><br>Responda o máximo que conseguir e siga em frente! Quando você não souber, pule o item e retorne depois, se houver tempo.<br><br> Veja os exemplos de preenchimentos dos itens a seguir.</p>
            <div class="d-flex flex-row-reverse">
              <button (click)="examples = !examples" class="btn btn-primary">Iniciar Teste</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="examples && !startTest" class="container d-flex align-items-center justify-content-center min-vh-100">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 w-100" align="justify">
        <div class="card p-2" style="width: 100%;">
          <div class="card-body">
            <h5 class="card-title strong d-flex justify-content-center mb-3">Exemplos</h5>
            <div class="row">

              <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-3">
                <div class="card">
                  <div class="card-body">
                    <!-- <p class="card-text"><strong>armário</strong> está para guardar assim com vassoura está para:</p> -->
                    <p class="card-text mb-3" [innerHTML]="analogiasData[analogiaIndex-2].sentence"></p>

                    <div class="card mb-2" *ngFor="let possibleAnswer of analogiasData[analogiaIndex-2].possibleAnswers">
                      <div class="card-body">
                        <div class="form-check">
                          <input class="form-check-input" type="radio" [checked]="analogiasData[analogiaIndex-2].rightAnswer === possibleAnswer" disabled>
                          <label class="form-check-label">
                            {{possibleAnswer}}
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <div class="card">
                  <div class="card-body">
                    <p class="card-text mb-3" [innerHTML]="analogiasData[analogiaIndex-1].sentence"></p>

                    <div class="card mb-2" *ngFor="let possibleAnswer of analogiasData[analogiaIndex-1].possibleAnswers">
                      <div class="card-body">
                        <div class="form-check">
                          <input class="form-check-input" type="radio" [checked]="analogiasData[analogiaIndex-1].rightAnswer === possibleAnswer" disabled>
                          <label class="form-check-label">
                            {{possibleAnswer}}
                          </label>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>

            </div>
            <div class="d-flex justify-content-center align-items-center mt-2">
              <button (click)="startTest = !startTest" class="btn btn-primary">Próximo</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="startTest && analogiaIndex < analogiasData.length" class="container d-flex align-items-center justify-content-center min-vh-100">
    <div class="row">
      <div class="col" align="justify">
        <div class="card p-1 d-flex justify-content-center align-items-center" style="width: 100%;">
          <div class="card-body">
            <!-- <form [formGroup]="userAnswerForm" (ngSubmit)="handleSubmitAnswer()"> -->
            <form [formGroup]="userAnswerForm">
              <div class="card">
                <div class="card-body">

                  <!-- <p class="card-text">{{analogiasData[analogiaIndex].sentence}}</p> -->
                  <p class="card-text mb-3" [innerHTML]="analogiaIndex-1 + ') ' + analogiasData[analogiaIndex].sentence"></p>

                  <div class="card mb-2" *ngFor="let possibleAnswer of analogiasData[analogiaIndex].possibleAnswers">
                    <div class="card-body">

                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="answer" formControlName="answer" [value]="possibleAnswer">
                        <label class="form-check-label" for="answer">
                          {{possibleAnswer}}
                        </label>
                      </div>

                    </div>
                  </div>

                </div>
              </div>

              <div class="row">
                <div class="col-6">
                  <div class="d-flex justify-content-center align-items-center mt-3">
                    <button (click)="handleReturnQuestion()" class="btn btn-primary w-100">Anterior</button>
                  </div>
                </div>
                <div class="col-6">
                  <div class="d-flex justify-content-center align-items-center mt-3">
                    <button (click)="handleSubmitAnswer()" class="btn btn-primary w-100">Próximo</button>
                  </div>
                </div>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="analogiaIndex === analogiasData.length" class="container d-flex align-items-center justify-content-center min-vh-100">
    <div class="row">
      <div class="col" align="justify">
        <div class="card p-2" style="width: 100%;">
          <div class="card-body">
            <div class="row">
              <h5 class="card-title strong d-flex justify-content-center align-content-center">Teste Finalizado!</h5>
              <p class="card-text d-flex justify-content-center align-content-center">Acertos: {{acertos}}</p>
              <a routerLink="/" class="btn btn-primary d-flex justify-content-center align-content-center">Retornar para o menu principal</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
